In [2]:
import pandas as pd

In [5]:
lgsub = pd.read_csv("../02kernel/lgsub.csv")
lgsub2 = pd.read_csv("../02kernel/lgsub2.csv")
baseline_lgb = pd.read_csv("../02kernel/baseline_lgb.csv")
sample_submission = pd.read_csv("../02kernel/sample_submission.csv")
submission = pd.read_csv("../02kernel/submission.csv")

In [6]:
lgsub.head()

        item_id  deal_probability
0  6544e41a8817          0.266970
1  65b9484d670f          0.094953
2  8bab230b2ecd          0.125703
3  8e348601fefc          0.148313
4  8bd2fe400b89          0.198455

In [7]:
lgsub2.head()

        item_id  deal_probability
0  6544e41a8817          0.611398
1  65b9484d670f          0.393834
2  8bab230b2ecd          0.691294
3  8e348601fefc          0.347501
4  8bd2fe400b89          0.318674

In [8]:
baseline_lgb.head()

        item_id  deal_probability
0  6544e41a8817          0.144755
1  65b9484d670f          0.305356
2  8bab230b2ecd          0.154719
3  8e348601fefc          0.198525
4  8bd2fe400b89          0.181584

In [9]:
sample_submission.head()

        item_id  deal_probability
0  6544e41a8817          0.304466
1  65b9484d670f          0.243742
2  8bab230b2ecd          0.170608
3  8e348601fefc          0.119678
4  8bd2fe400b89          0.212644

In [10]:
submission.head()

        item_id  deal_probability
0  6544e41a8817          0.304157
1  65b9484d670f          0.049701
2  8bab230b2ecd          0.174532
3  8e348601fefc          0.123580
4  8bd2fe400b89          0.251878

In [12]:
temp = (lgsub.deal_probability + lgsub2.deal_probability + baseline_lgb.deal_probability + sample_submission.deal_probability + submission.deal_probability) / 5

In [14]:
item_id = sample_submission.item_id

In [17]:
blending = pd.DataFrame()
blending['item_id'] = item_id
blending['deal_probability'] = temp

In [ ]:
ble