In [43]:
import pandas as pd

In [54]:
stack_minmax_median = pd.read_csv("../02kernel/stack_minmax_median.csv")
lgsub = pd.read_csv("../02kernel/lgsub.csv")
baseline_lgb = pd.read_csv("../02kernel/baseline_lgb.csv")
sample_submission = pd.read_csv("../02kernel/sample_submission.csv")
submission = pd.read_csv("../02kernel/submission.csv")

In [55]:
stack_minmax_median.head()

        item_id  deal_probability
0  6544e41a8817          0.289816
1  65b9484d670f          0.007781
2  8bab230b2ecd          0.194024
3  8e348601fefc          0.103085
4  8bd2fe400b89          0.265577

In [45]:
lgsub.head()

        item_id  deal_probability
0  6544e41a8817          0.266970
1  65b9484d670f          0.094953
2  8bab230b2ecd          0.125703
3  8e348601fefc          0.148313
4  8bd2fe400b89          0.198455

In [46]:
baseline_lgb.head()

        item_id  deal_probability
0  6544e41a8817          0.144755
1  65b9484d670f          0.305356
2  8bab230b2ecd          0.154719
3  8e348601fefc          0.198525
4  8bd2fe400b89          0.181584

In [47]:
sample_submission.head()

        item_id  deal_probability
0  6544e41a8817          0.304466
1  65b9484d670f          0.243742
2  8bab230b2ecd          0.170608
3  8e348601fefc          0.119678
4  8bd2fe400b89          0.212644

In [48]:
submission.head()

        item_id  deal_probability
0  6544e41a8817          0.304157
1  65b9484d670f          0.049701
2  8bab230b2ecd          0.174532
3  8e348601fefc          0.123580
4  8bd2fe400b89          0.251878

In [49]:
len(submission)

508438

In [57]:
temp = (stack_minmax_median.deal_probability + \
        lgsub.deal_probability + \
        baseline_lgb.deal_probability + \
        sample_submission.deal_probability + \
        submission.deal_probability) / 5

In [58]:
submission['deal_probability'] = temp

In [59]:
submission.to_csv("blending.csv",index=False)

In [60]:
pd.read_csv('blending.csv')

             item_id  deal_probability
0       6544e41a8817          0.262033
1       65b9484d670f          0.140307
2       8bab230b2ecd          0.163917
3       8e348601fefc          0.138636
4       8bd2fe400b89          0.222028
5       c63dbd6c657f          0.090774
6       6d1a410df86e          0.032040
7       e8d3e7922b80          0.004842
8       2bc1ab208462          0.035816
9       7e05d77a9181          0.063652
10      e2ec19a3ca2b          0.204122
11      68069bfc06c2          0.054410
12      595842ba248a          0.641012
13      4130d5cfc5de          0.106421
14      c21ede41b256          0.141830
15      f56e4684ceda          0.353000
16      e7ab88d19965          0.140654
17      81c1cd9f4e4e          0.085326
18      2c989cea0e97          0.037591
19      36a35020ebeb          0.602579
20      60b0cc9cf25e          0.028726
21      ac0a01acccc2          0.166168
22      683c444d6a40          0.241031
23      5580ccd3358a          0.013412
24      4596527723ec          0.830748
25      2e414b752d9f          0.051458
26      032e21134f2f          0.067961
27      fd6f6a2ed415          0.113641
28      44da737c70af          0.058713
29      272e2ee33c62          0.385035
...              ...               ...
508408  df8001ca5897          0.042180
508409  0455281c86fb          0.572213
508410  482d3253c9f1          0.068468
508411  9278e7c14cd0          0.025719
508412  9041d0340b49          0.087103
508413  872c382ce446          0.072289
508414  67448ad8941c          0.333556
508415  6ffaf4c20469          0.170409
508416  acc46dbda733          0.101218
508417  eb33cd6dac70          0.137979
508418  f9db673cb425          0.045605
508419  32727c2ed7e5          0.079012
508420  2e6f289d2676          0.022660
508421  58fa2c39f791          0.304921
508422  0e1a370c12c7          0.039083
508423  cc4f7fd3d2f2          0.105172
508424  29a342aa8508          0.049292
508425  fce6b0de65f8          0.051819
508426  dae17c1850b0          0.238436
508427  549b1c9354e3          0.265759
508428  0915772bb21c          0.051813
508429  d8984ced6639          0.482739
508430  e7c68be28a03          0.011973
508431  a96a4c5ad75a          0.018339
508432  fdcd9910edf3          0.288556
508433  9f2200aed300          0.325753
508434  70813f518de4          0.149248
508435  a22a2eeb5dd2          0.033457
508436  ed7fbb0733c1          0.379642
508437  d374d332992f          0.086096

[508438 rows x 2 columns]

In [61]:
! kaggle competitions submit -c avito-demand-prediction -f blending.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jk/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.3.9.1 / client 1.3.8)
Successfully submitted to Avito Demand Prediction Challenge